main {
  min-height: 80vh;
}

h1 {
  padding: 1rem 0;
  font-size: 1.8rem;
}
h2 {
  padding: 0.5rem 0;
  font-size: 1.4rem;
}

h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}

body::-webkit-scrollbar {
  display: none;
}
